<div class="card mb-3">
  <img
    (click)="data.id%2==0? data.views = data.views + 1 : data.views"
    class="card-img-top card--image" 
    [src]="data.image" 
    [alt]="data.name" 
    [attr.data-bs-target]="'#id' + data.id"
    data-bs-toggle="modal" 
    />
  <div class="card-body">
    <h3>{{ data.name }}</h3>
    <p class="text-dark">{{ data.description }}</p>
  </div>
  <div class="card-footer text-end">
    <small class="text-muted"><span class="text-dark">Views:</span> {{ data.views }} <i class="fa-solid fa-eye"></i></small>
  </div>
</div>
<div class="modal fade" [attr.id]="'id' + data.id" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{data.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="data.image" [alt]="data.name" class="img-fluid"/>
      </div>
      <div class="modal-footer d-flex justify-content-center" *ngIf="data.id % 2 != 0">
        <button type="button" class="btn btn-primary col-5 text-light fw-bold modal--button" (click)="viewIncreace()">Ok <i class="fa-regular fa-eye"></i></button>
        <button type="button" class="btn btn-secondary col-5 text-light fw-bold modal--button" data-bs-dismiss="modal">Close <i class="fa-solid fa-power-off login__icon"></i></button>
      </div>
    </div>
  </div>
</div>