<header class="bg-dark bg-opacity-25">
  <div class="container">
    <div class="d-flex justify-content-between py-3">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <i class="fs-3 fa-brands fa-angular me-1"></i>
        <span class="fs-4">Matias Galeano</span>
      </a>
      <a
        href="https://github.com/MatiGaleano/prueba-ingertec"
        class="nav-link text-white"
        target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
  </div>
</header>
