<header class="p-3 text-bg-dark bg-opacity-50">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <i class="fs-3 fa-brands fa-angular me-1"></i>
            <span class="fs-4">Angular</span>
          </a>

        <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="https://github.com/MatiGaleano/prueba-ingertec" class="nav-link fs-2 text-white" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </header>
